API_PORT=8000
API_PREFIX=api

DB_HOST=postgres
DB_USERNAME=postgres
DB_PASSWORD=123

DB_AUTH_NAME=auth_db
DB_TRIP_NAME=trip_db
DB_BOOKING_NAME=booking_db
DB_PAYMENT_NAME=payment_db
DB_NOTIFICATION_NAME=notification_db

DB_AUTH_PORT=5432
DB_TRIP_PORT=5433
DB_BOOKING_PORT=5434
DB_PAYMENT_PORT=5435
DB_NOTIFICATION_PORT=5436

RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=123
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672